// Variables

$website-width: 1280px;
$main-color: #ffd700;
$light-color: #f4f4f4;
$medium-color: #ccc;
$dark-color: #333;
$violet-color:  #b88917;
$bg-image: url("../img/showcase.jpg");

// set text color

@function set-text-color($color) {
  @if (lightness($color) > 50) {
    @return #000;
  } @else {
    @return #fff;
  }
}
